<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Descripcion</th>
      <th>Nro hab</th>
      <th>Nro bannos</th>
      <th>Area</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.direccion %></td>
        <td><%= property.descripcion %></td>
        <td><%= property.nro_hab %></td>
        <td><%= property.nro_bannos %></td>
        <td><%= property.area %></td>
        <td><%= property.status %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


