<p id="notice"><%= notice %></p>

<p>
  <strong>Direccion:</strong>
  <%= @property.direccion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @property.descripcion %>
</p>

<p>
  <strong>Nro hab:</strong>
  <%= @property.nro_hab %>
</p>

<p>
  <strong>Nro bannos:</strong>
  <%= @property.nro_bannos %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property.area %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<%= link_to 'Edit', edit_owner_property_path(@owner.id, @property.id ) %> |
<%= link_to 'Back' %>
