<p id="notice"><%= notice %></p>

<h1>Tipo Props</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_props.each do |tipo_prop| %>
      <tr>
        <td><%= tipo_prop.nombre %></td>
        <td><%= tipo_prop.status %></td>
        <td><%= link_to 'Show', tipo_prop %></td>
        <td><%= link_to 'Edit', edit_tipo_prop_path(tipo_prop) %></td>
        <td><%= link_to 'Destroy', tipo_prop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo Prop', new_tipo_prop_path %>
